<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="libs/bootstrap-css-only/css/bootstrap.min.css"/>
</head>
<body ng-app="myApp">
<div class="container">
    <div  ng-controller="UserGroupListController">
        <div class="page-header">
            <h1>User Groups</h1>
        </div>
        <div class="form-group btn-group-sm">
            <button class="btn btn-info" type="button" title="Add" ng-click="addItem()">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>
        <div class="alert alert-info" role="alert" ng-hide="items && items.length > 0">
            There are no items yet.
        </div>

        <table class="table table-striped" ng-hide="!items || items.length == 0">
            <thead>
            <tr>
                <th>ID</th>
                <th>ID2</th>
                <th>ID3</th>
                <th>Name</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in items|orderBy: 'id':reverse">
                <td>{{item.id}}</td>
                <td>{{item.id2}}</td>
                <td>{{item.id3}}</td>
                <td>{{item.name}}</td>
                <td class="btn-group-sm">
                    <button class="btn btn-success" type="button" title="Edit" ng-click="editItem(item)">
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>
                    <button class="btn btn-danger" type="button" title="Delete" ng-click="deleteItem(item)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <hr/>
    <div ng-controller="UserGroupController">
    <!--<sm-form name="userGroupForm" ng-submit="saveItem(item)">-->
    <form name="userGroupForm" class="form-horizontal" role="form" ng-submit="saveItem(item)" novalidate>
        <div class="input-group" ng-show="editFormVisible">
            <text-field model="item.id" label="ID" minlength="5" maxlength="16" required></text-field>
            <text-field model="item.id2" label="Id2"></text-field>
            <text-field model="item.id3" label="Id3"></text-field>
            <text-field model="item.name" label="Name" placeholder="User name" required></text-field>
            <div class="btn-group-sm pull-right">
                <save-button onsave="saveItem(item)" saving="saving"> Save</save-button>
                <button class="btn btn-default" type="button" title="Close" ng-click="closeEditForm()">
                    <span class="glyphicon glyphicon-remove"> Close</span>
                </button>
            </div>
        </div>
    <!--</sm-form>-->
    </form>
    </div>
</div>
<script type="text/javascript" src="libs/angular/angular.js"></script>
<script type="text/javascript" src="libs/angular-resource/angular-resource.min.js"></script>
<script type="text/javascript" src="libs/angular-spring-data-rest/dist/angular-spring-data-rest.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="libs/lodash/lodash.min.js"></script>
<script type="text/javascript" src="app/app.js"></script>
<script type="text/javascript" src="app/controllers.js"></script>
<script type="text/javascript" src="app/directives.js"></script>
<script type="text/javascript" src="app/ugServices.js"></script>
</body>
</html>
